<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Plugins de cordova</h2>
  <h3>Camara</h3>
  <button ion-button full (click)="tomarFoto()" color="secondary">Tomar foto</button>
  <img [src]="imagen" *ngIf="imagen">
  <h3>GPS</h3>
  <button ion-button full (click)="obtenerPosicion()" color="danger">Posición</button>
  <p *ngIf="posicion">Tu posición es: Longitud {{posicion.coords.longitude}} - Latitud {{posicion.coords.latitude}}</p>
</ion-content>
